@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f8f5f2;
}

::-webkit-scrollbar-thumb {
  background: rgb(60, 1, 100);
  border-radius: 0px;
  border-right: #ededed 1px solid ;
  border-left: #ededed 1px solid ;


}

::-webkit-scrollbar-thumb:hover {
  background: orangered
}
